@import "tailwindcss";

@theme {
  --color-brand-blue: #02167f;
  --color-brand-blue-dark: #010d52;
  --color-brand-yellow: #ffd014;
  --font-sans: var(--font-geist-sans), sans-serif;
}

body {
  background: #f6f6f4;
  color: #1a1a1a;
}
